<header>
  <nav>
    <div class="top-div nav-div">
      <a class="logo" href="/">Quiz App</a>
      <button class="hamburger" id="hamburger">
        <i class="fa-solid fa-bars"></i>
      </button>

      <% if (user) { %>
      <ul class="ul-links navSection">
        <li><a href="/create-quizzes">Create a Quiz</a></li>
        <li><a href="/my-quizzes">My Quizzes</a></li>
        <li><a href="/results">My Results</a></li>
      </ul>

      <% } %>
    </div>
    <div class="bottom-div nav-div">
      <ul class="ul-buttons navSection">
        <% if (!user) { %>
        <li>
          <a href="/login"><button>Login</button></a>
        </li>
        <li>
          <a href="/register"><button>Register</button></a>
        </li>
        <% } else { %>

        <form action="/logout" method="POST">
          <button class="logout-button" type="submit">Logout</button>
        </form>
        <% } %>
      </ul>
    </div>
  </nav>
</header>
