<header>
  <nav>
    <div class="top-div nav-div">
      <span class="logo">Quiz App</span>
      <button class="hamburger" id="hamburger">
        <i class="fa-solid fa-bars"></i>
      </button>
      <ul class="ul-links navSection">
        <li><a href="/create-quizzes">Create a Quiz</a></li>
        <li><a href="#">My Quizzes</a></li>
      </ul>
    </div>
    <div class="bottom-div nav-div">
      <ul class="ul-buttons navSection">
        <% if (!user) { %>
        <li>
          <a href="/login"><button>Login</button></a>
        </li>
        <li>
          <a href="/register"><button>Register</button></a>
        </li>
        <% } else { %>
        <a href="#"><button>Logout</button></a>
        <% } %>
      </ul>
    </div>
  </nav>
</header>
