<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/library.css" />
  <script type="text/javascript" src="/scripts/library.js"></script>


</head>

<body>
  <%- include('partials/_header') %>

  <div class="library">
    
    <div class="library-quizzes">
      
      <div class="quiz-template">
        
        <div class="quiz-picture">
          <div class="number-of-questions">
            <p>5 questions</p>
          </div>
  
        </div>

        <div class="quiz-information">
          <div class="quiz-primary-nav">
            <div class="quiz-title">
              <h3>Some generic title</h3>
            </div>
            <div class="quiz-actions">
              <button>
                <i class="fa-solid fa-eye-slash unlist-btn"></i>
              </button>
              <button>
                <i class="fa-solid fa-eye list-btn"></i>
              </button>
              <button>
                <i class="fa-solid fa-trash play-btn"></i>
              </button>
            </div>
          </div>
  
          <div class="quiz-secondary-nav">
            <p>Created on January 1st 2022</p>
            <p>7 plays!</p>
            <button type="button" class="btn btn-primary">Edit</button>
            <button type="button" class="btn btn-success">Play</button>
  
          </div>

        </div>

      </div>



    </div>

  </div>

  
</body>
</html>