<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles/new-quiz.css" type="text/css" />

  
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  
  <div class="form-container">
    <h3>Add new quiz</h3>

    <form class="new-quiz-form" action="/new-quiz" method="POST">
      <div class="form-group">
        <label for="quiz-title">Quiz Title</label>
        <input type="text" class="form-control quiz-title"  placeholder="Enter title" name="quiz-title">
      </div>
        
      <div class=" form-group question">
        <div class="question-holder">
          <label>Question</label>
          <input type="text" class="form-control"  placeholder="Enter question" name="question">
        </div>

        <div class="all-options">
          <div class="option-holder">
            <label >Answers 1</label>
            <input type="text" name="option1">

            <div class="check-correct">
              <label >Fill in for correct answer</label>
              <input type="checkbox" name="o1-is_correct">
            </div>
          </div>
  
          <div class="option-holder">
            <label >Answers 2</label>
            <input type="text" name="option2">

            <div class="check-correct">
              <label >Fill in for correct answer</label>
              <input type="checkbox" name="o2-is_correct">
            </div>
          </div>
  
          <div class="option-holder">
            <label >Answers 3</label>
            <input type="text" name="option3">

            <div class="check-correct">
              <label >Fill in for correct answer</label>
              <input type="checkbox" name="o3-is_correct">
            </div>
          </div>
  
          <div class="option-holder">
            <label >Answers 4</label>
            <input type="text" name="option4">

            <div class="check-correct">
              <label >Fill in for correct answer</label>
              <input type="checkbox" name="o4-is_correct">
            </div>
          </div>
        </div>
      </div>


      <div class=" form-group question">
        <div class="question-holder">
          <label>Question</label>
          <input type="text" class="form-control"  placeholder="Enter question" name="question">
        </div>

        <div class="all-options">
          <div class="option-holder">
            <label >Answers 1</label>
            <input type="text" name="option1">

            <div class="check-correct">
              <label >Fill in for correct answer</label>
              <input type="checkbox" name="o1-is_correct">
            </div>
          </div>
  
          <div class="option-holder">
            <label >Answers 2</label>
            <input type="text" name="option2">

            <div class="check-correct">
              <label >Fill in for correct answer</label>
              <input type="checkbox" name="o2-is_correct">
            </div>
          </div>
  
          <div class="option-holder">
            <label >Answers 3</label>
            <input type="text" name="option3">

            <div class="check-correct">
              <label >Fill in for correct answer</label>
              <input type="checkbox" name="o3-is_correct">
            </div>
          </div>
  
          <div class="option-holder">
            <label >Answers 4</label>
            <input type="text" name="option4">

            <div class="check-correct">
              <label >Fill in for correct answer</label>
              <input type="checkbox" name="o4-is_correct">
            </div>
          </div>
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>




    
  </div>

  
</body>
</html>