<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/quiz.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/takeQuiz.js"></script>
</head>

<body>
  <header>
    <h1>QIUZ QUIZ QUIZ</h1>
    <span><h3>Questions Left: 5/5</h3></span> <span>Total Score: 0/5</span>
  </header>
  <main class="container">
   <section class="quiz-container">
    <button type="submit" id="submit-button">Submit</button>
   </section>
  </main>
</body>

</html>
