// nav styles

nav div span {
  font-size: 50px;
}

nav {
  background: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 1.5em;
}

nav div {
  display: flex;
  justify-content: space-between;
}

nav div ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.logo {
  font-family: "Permanent Marker", cursive;
  font-size: 60px;
  color: purple;
}

.hamburger {
  background: transparent;
  border: none;
  font-size: 50px;
  cursor: pointer;
  display: none;
}

.hamburger i:hover {
  color: red;
}

.ul-links li {
  padding-right: 25px;
}

nav div ul li a {
  font-size: 25px;
  color: rgb(180, 67, 67);
}

nav a {
  text-decoration: none;
}

.ul-buttons li {
  padding-left: 25px;
}

nav button {
  color: rgb(17, 0, 255);
  padding: 10px 25px;
}

// Media Queries

@media only screen and (max-width: 1024px) {
  nav {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .navSection {
    display: flex;
    flex-direction: column;
    display: none;
    width: 100%;
  }

  .nav-div {
    display: flex;
    width: 100%;
    justify-content: right;
  }

  .navSection.show {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column-reverse;
    align-content: flex-end;
  }

  .top-div {
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
  .hamburger {
    display: block;
    justify-content: space-between;
  }
}
