
.form-container{
  margin: 2em 2em 2em;
  width: 500px;
  height: fit-content;

  .question{
    border: 2px solid black;
    border-radius: 15px;
    padding: 1em;
  }

}

.all-options{
  margin-top: 1em;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;

}

.option-holder{
  width: 90%;
  display: flex;
  flex-direction: column;
}