
.form-container{
  margin: 2em 2em 2em;
  width: 500px;
  height: fit-content;

  .new-question{
    border: 2px solid black;
    border-radius: 15px;
    padding: 1em;
  }

  .question{
    border: 2px solid black;
    border-radius: 15px;
    padding: 1em;
    position: relative;



    .delete-question{
      position: absolute;
      top: 3%;
      right: 3%;
    }
  }

}

.all-options{
  margin-top: 1em;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;

}

.option-holder{
  width: 90%;
  display: flex;
  flex-direction: column;
}


.add-question-btn{
  display: block;
  margin-bottom: 1em;
}


.colour1{
  background-color: #faa0a0;
}

.colour2{
  background-color: #f7e9a5;

}
.colour3{
  background-color: #aaf8af;

}
.colour4{
  background-color: #a7dcf5;

}
.colour5{
  background-color: #d5a6f7;

}
