
body{
  background-color: transparent;
}

.form-container{
  margin: auto;
  width: 600px;
  height: fit-content;

  .new-question{
    border-radius: 15px;
    padding: 1em;
    border: 3px solid #ffffff;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    input{
      border-style: none;
      border-bottom: 2px solid black;
      background-color: transparent;
      color: white;
      font-size: 1.3em;
      margin: 2em auto 1em auto;
    }

  }

  .question{
    border: 3px solid #FFF;
    border-radius: 15px;
    padding: 1em;
    position: relative;


    input{
      border-style: none;
      border-bottom: 3px solid black;
      background-color: transparent;
      color: black;
      font-size: 1.3em;
    }

    .delete-question{
      position: absolute;
      top: 10px;
      right: 3%;
      border: none;
      background: transparent;
      font-size: 1.5em;
      cursor: pointer;
    }
  }

}

.all-options{
  min-height: 20px;
  margin: 1em auto auto 1em;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  position: relative;
}

.option-holder{
  width: 95%;
  display: flex;
  flex-direction: column;

  label{
    margin: 0;
    padding: 0;
  }
}



.general-form-buttons{
  display: flex;
  
 button{
   margin-right: 1em;
   padding: 0.7em;
   overflow: hidden;
   background: transparent;
   border-radius: 10px;
   box-shadow: 0 4px 8px 0 rgba(21, 65, 107, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   cursor: pointer;
   color: rgb(14, 12, 12);
   font-weight: bold;
   font-size: 1.3em;
 }

 .add-question-btn{
  border: 3px solid #88e1fccc;
 }

 .make-quiz-btn{
  border: 3px solid #7ff07fcc;

 }

}




.flip {
  transform: rotate(-180deg);
}

.colour1{
  background-color: #e0c4c4ab;
}

.colour2{
  background-color: #e0dab8a8;

}
.colour3{
  background-color: #b1dbb4a1;

}
.colour4{
  background-color: #a8c7d4b9;

}
.colour5{
  background-color: #ceb7e0ad;

}


.delete-question:focus{
  outline: none;
}

.delete-question:hover{
  color: rgb(216, 55, 55);
}

.new-question input::placeholder{
  color: #FFF;
}

input:focus{
  outline: none;
}

button:focus{
  outline: none;
}

.add-question-btn:hover{
  border: 3px solid rgb(34, 34, 34);
  background-color: #82c7dbcc;
  color: rgb(22, 22, 22);
}

.make-quiz-btn:hover{
  border: 3px solid rgb(34, 34, 34);
  background-color: #8be28bcc;
  color: rgb(22, 22, 22);
}