$primary-color: rgb(23, 90, 146);
$correct-color: rgb(36, 163, 36);
$wrong-color: rgba(190, 32, 32, 0.877);

*, *::before, *::after{
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: lighten($primary-color, 40%);
  // justify-content: center;
  // align-items: center;
}

.quiz-header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

#outer-div {
  background-color: #EEEEEE;
  height: 20px;
  width: 99%;
  margin: 0;
  border-radius: 5px;
  bottom: 0;
  position: absolute;
  #inner-div {
    background-color: rgb(0, 255, 42);
    height: 19px;
    width: 0px;
    color: white;
    border-radius: 5px;
  }
}

.btn {
  background-color: $primary-color;
  color: white;
  cursor: pointer;
  padding: 10px;
  border: 1px solid navy;
  border-radius: 4px;
}

.btn:hover {
  filter: brightness(150%);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border: none;
  box-shadow: 0 0 10px 2px;
  display: flex;
  flex-direction: column;
}

.quiz-container {
  display: flex;
  flex-direction: column;
}
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2);
  gap: 10px;
  margin: 20px 0;
}

.btn.correct {
  background-color: $correct-color;
  position: relative;
  .icon {
    position: absolute;
    left: -6px;
    top: -6px;
  }
}

.btn.wrong{
  background-color: $wrong-color;
  position: relative;
  .icon {
    position: absolute;
    left: -6px;
    top: -6px;
  }
}

.next-btn {
  width: 100px;
  background-color: lighten($primary-color, 20%);

}
.next-btn:hover {
    filter: none;
    border: 2px solid $primary-color;
    font-size: larger;

}
.control-button {
  display: flex;
  justify-content: center;
}
.hide {
  display: none;
}
