.container {
  border: 2px solid black;
}

.question-container {
  border: 2px solid red;
}

.question {
  border: 2px solid blue;
}

.option {
  border: 2px solid green;
}

.option-container {
  border: 2px solid black;
}
