$primary-color: rgb(23, 90, 146);
$correct-color: rgb(36, 163, 36);
$wrong-color: rgba(190, 32, 32, 0.877);

*, *::before, *::after{
  box-sizing: border-box;
}
main {
  padding: 30px;
}
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // background-color: lighten($primary-color, 40%);
  background-color: #00ebb0;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
}
header {
  height: 200px;
}

.quiz-header {
  height: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

#outer-div {
  background-color: #EEEEEE;
  height: 22px;
  width: 99%;
  margin-right: 10px;
  // border-radius: 5px;
  bottom: 0;
  position: absolute;
  #inner-div {
    background-color: rgb(0, 255, 42);
    height: 21px;
    width: 0%;
    color: white;
    // border-radius: 5px;
  }
}

.question {
  font-size: xx-large;
  height: 50px;
  font-weight: bold;
  text-align: center;
}
.btn {
  background-color: $primary-color;
  color: white;
  cursor: pointer;
  height: 100px;
  width: 400px;
  padding: 10px;
  margin: 10px;
  border: 1px solid navy;
  border-radius: 4px;
}

.btn:hover {
  filter: brightness(150%);
}

.container {
  width: 1000px;
  max-width: 100%;
  height: 60%;
  background-color: white;
  border: none;
  box-shadow: 0 0 10px 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quiz-container {
  display: flex;
  flex-direction: column;
}
.btn-grid {
  display: inline-block;
  gap: 10px;
  margin: 20px 0;
  text-align: center;
  font-size: larger;
}

.btn.correct {
  background-color: $correct-color;
  position: relative;
  .icon {
    position: absolute;
    left: -8px;
    top: -8px;
  }
}

.btn.wrong{
  background-color: $wrong-color;
  position: relative;
  .icon {
    position: absolute;
    left: -8px;
    top: -8px;
  }
}

.next-btn, #save-result-button {
  width: 120px;
  height: 50px;
  background-color: lighten($primary-color, 20%);

}
.next-btn:hover {
    filter: none;
    border: 2px solid $primary-color;
    font-size: larger;

}
.control-button {
  display: flex;
  justify-content: center;
}
.hide {
  display: none;
}

.results {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    font-size: xx-large;
    margin: 20px 0;
  }
  button {
    font-size: larger;
  }
  p {
    font-size: x-large;
  }
}


