*, *::before, *::after{
  box-sizing: border-box;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  width: 50%;
  margin: 10px 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.btn {
  margin: 0 2em;
  padding: 5px 20px;
  border-radius: 1px;
  width: 100px;
}
